body {
    background-color: #060913;
    color: #F3F4F6;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.bg-card {
    background-color: #0d1326;
    border: 1px solid #1a233d;
}
.h-90vh {
    height: 88vh;
}
.text-xxs {
    font-size: 0.65rem;
}
#chatContainer::-webkit-scrollbar {
    width: 4px;
}
#chatContainer::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}
